In [1]:
print("Hello World")

Hello World

# Başlık1
## Başlık2
### Başlık3
deneme

In [8]:
import pandas as pd

In [9]:
import numpy as np

In [13]:
import time

In [26]:
k = np.array([1,2,3,4,5,6])
k

array([1, 2, 3, 4, 5, 6])

In [22]:
start_time = time.time()
A= np.array(50000000)
A ** 2
time1 = time.time() - start_time
start_time2 = time.time()
L = range(50000000)
[i ** 2 for i in L]
time2 = time.time() - start_time2

print(time2/time1)

155241.73747841106

In [27]:
x = np.array([4,5,6,7])
print(x)

[4 5 6 7]

In [28]:
print(type(x))
print(x.shape)
print(x.size)
print(x.ndim)
print(x.nbytes)
print(x.dtype)

<class 'numpy.ndarray'>
(4,)
4
1
32
int64

In [31]:
t = np.array([[1,2,3],[4,5,6]])
y = t
print(y)
print(type(y))
print(y.shape)
print(y.size)
print(y.ndim)
print(y.nbytes)
print(y.dtype)

[[1 2 3]
 [4 5 6]]
<class 'numpy.ndarray'>
(2, 3)
6
2
48
int64

In [32]:
z = np.array([[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]]])
y = z
print(y)
print(type(y))
print(y.shape)
print(y.size)
print(y.ndim)
print(y.nbytes)
print(y.dtype)

[[[1 2 3]
  [4 5 6]]

 [[1 2 3]
  [4 5 6]]]
<class 'numpy.ndarray'>
(2, 2, 3)
12
3
96
int64

In [36]:
x = np.array([1,"2",3])
print(x.dtype)

<U21

In [39]:
x = np.array([1,2.0,3], dtype=np.complex)
print(x.dtype)
print(x)

complex128
[1.+0.j 2.+0.j 3.+0.j]

In [41]:
x = np.array([1.2,2.7,3.8], dtype=np.int)
print(x)
print(x.dtype)

[1 2 3]
int64

In [44]:
x = np.array(x, dtype=float)
print(x)
print(x.dtype)

[1. 2. 3.]
float64

In [46]:
x = x.astype(np.int)
print(x)

[1 2 3]

In [48]:
x1 = np.array([1,2,3],dtype=np.int)
x2 = np.array([5.2,2.8,4.9],dtype=np.float)

print(x1+x2)
print((x1+x2).dtype)

[6.2 4.8 7.9]
float64

In [55]:
x = np.sqrt(np.array([-1,9,4], dtype=np.complex))
print(x)
print(x.dtype)
print(type(x))
print(x.real)
print(x.imag)
print(x.real.dtype)
print(x.imag.dtype)

[0.+1.j 3.+0.j 2.+0.j]
complex128
<class 'numpy.ndarray'>
[0. 3. 2.]
[1. 0. 0.]
float64
float64

In [56]:
np.save('ndarray_1',x)

In [58]:
y = np.load('ndarray_1.npy')
print(y)
print(y.shape)

[0.+1.j 3.+0.j 2.+0.j]
(3,)

In [59]:
x1 = np.zeros(4)
print(x1)
print(x1.dtype)
x2 = np.ones(4)
print(x2)
print(x2.dtype)

[0. 0. 0. 0.]
float64
[1. 1. 1. 1.]
float64

In [64]:
x1 = np.zeros((2,3,4), dtype=np.int)
print(x1)
print(x1.dtype)

[[[0 0 0 0]
  [0 0 0 0]
  [0 0 0 0]]

 [[0 0 0 0]
  [0 0 0 0]
  [0 0 0 0]]]
int64

In [65]:
x = np.full((2,3),10)
print(x)

[[10 10 10]
 [10 10 10]]

In [66]:
x = np.empty((2,2))
print(x)

[[0. 0.]
 [0. 0.]]

In [67]:
x.fill(3)
print(x)

[[3. 3.]
 [3. 3.]]

In [70]:
x = np.eye(4)
print(x)

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

In [71]:
y = np.eye(5,4)
print(y)

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]
 [0. 0. 0. 0.]]

In [73]:
x = np.eye(6)
print(x)
y = np.eye(6,k=3)
print(y)

[[1. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 1.]]
[[0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]]

In [75]:
x = np.identity(5)
print(x)

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

In [77]:
x = np.diag([3,4,7,11])
print(x)

[[ 3  0  0  0]
 [ 0  4  0  0]
 [ 0  0  7  0]
 [ 0  0  0 11]]

In [78]:
x = np.arange(10)
print(x)

[0 1 2 3 4 5 6 7 8 9]

In [79]:
x = np.arange(10,20)
print(x)

[10 11 12 13 14 15 16 17 18 19]

In [80]:
x = np.arange(10,20,2)
print(x)

[10 12 14 16 18]

In [82]:
x = np.linspace(0,15,10)
x

array([ 0.        ,  1.66666667,  3.33333333,  5.        ,  6.66666667,
        8.33333333, 10.        , 11.66666667, 13.33333333, 15.        ])

In [89]:
x = np.linspace(0,25, endpoint=False)
x

array([ 0. ,  0.5,  1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ,  4.5,  5. ,
        5.5,  6. ,  6.5,  7. ,  7.5,  8. ,  8.5,  9. ,  9.5, 10. , 10.5,
       11. , 11.5, 12. , 12.5, 13. , 13.5, 14. , 14.5, 15. , 15.5, 16. ,
       16.5, 17. , 17.5, 18. , 18.5, 19. , 19.5, 20. , 20.5, 21. , 21.5,
       22. , 22.5, 23. , 23.5, 24. , 24.5])

In [90]:
x = np.arange(20)
print(x)

x = np.reshape(x, (4,5))
print(x)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]]

In [96]:
x = np.linspace(0,19,20)
print(x)

y = np.reshape(x, (2,10))
print(y)
print(x.size)
print(y.size)

[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.
 18. 19.]
[[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9.]
 [10. 11. 12. 13. 14. 15. 16. 17. 18. 19.]]
20
20

In [98]:
z = np.linspace(0,19,20).reshape(2,10)
print(z)

[[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9.]
 [10. 11. 12. 13. 14. 15. 16. 17. 18. 19.]]

In [104]:
x = np.random.random((2,3))
x

array([[0.64909577, 0.47861897, 0.89611385],
       [0.10076378, 0.2640292 , 0.58770533]])

In [110]:
x = np.random.randint(3,12, size=(3,2))
x

array([[ 7,  5],
       [10, 10],
       [ 5,  4]])

In [113]:
x = np.arange(5)
print(x)
print(x[2])
print(x[-3])

[0 1 2 3 4]
2
2

In [115]:
x[2] = 200
x

array([  0,   1, 200,   3,   4])

In [116]:
x = np.arange(12).reshape(3,4)
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [122]:
x[0,1]
x[0,3],x[2,2] = 300,600
x

array([[  0,   1,   2, 300],
       [  4,   5,   6,   7],
       [  8,   9, 600, 600]])

In [124]:
x = np.arange(6)
print(x)
y = np.delete(x, [0,3])
print(x)
print(y)

[0 1 2 3 4 5]
[0 1 2 3 4 5]
[1 2 4 5]

# axis = 0 -> row (satır), axis = 1 -> column (sütun)

In [128]:
x = np.arange(16).reshape(4,4)
print(x)
x = np.delete(x,1,axis=0)
print(x)
x = np.delete(x,1,axis=1)
print(x)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
[[ 0  1  2  3]
 [ 8  9 10 11]
 [12 13 14 15]]
[[ 0  2  3]
 [ 8 10 11]
 [12 14 15]]

In [129]:
x = np.arange(16).reshape(4,4)
print(x)
x = np.delete(x, [0,2], axis=1)
print(x)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
[[ 1  3]
 [ 5  7]
 [ 9 11]
 [13 15]]

In [132]:
x = np.arange(5)
print(x)
x = np.append(x,100)
print(x)
x = np.append(x,[200,300])
print(x)

[0 1 2 3 4]
[  0   1   2   3   4 100]
[  0   1   2   3   4 100 200 300]

In [136]:
x = np.arange(9).reshape(3,3)
print(x)
x = np.append(x,[[100,200,300]], axis = 0)
print(x)

[[0 1 2]
 [3 4 5]
 [6 7 8]]
[[  0   1   2]
 [  3   4   5]
 [  6   7   8]
 [100 200 300]]

In [140]:
x = np.append(x,[[10],[20],[30],[40]], axis = 1)
print(x)

[[  0   1   2  10]
 [  3   4   5  20]
 [  6   7   8  30]
 [100 200 300  40]]

In [143]:
#np.insert ---> np.insert(ndarray, index, element, axis)
x = np.arange(5)
print(x)
x= np.insert(x,0,10)
print(x)

[0 1 2 3 4]
[10  0  1  2  3  4]

In [144]:
x= np.insert(x,2,[300,400])
print(x)

[ 10   0 300 400   1   2   3   4]

In [152]:
x = np.arange(9).reshape(3,3)
print(x)
y = np.insert(x,1,[100,200,300], axis=0)
print(y)
y = np.insert(x,0,[100,200,300], axis=1)
print(y)
y = np.insert(x,0,[100], axis=1)
print(y)
y = np.insert(x,0,[[100],[200]], axis=1)
print(y)

[[0 1 2]
 [3 4 5]
 [6 7 8]]
[[  0   1   2]
 [100 200 300]
 [  3   4   5]
 [  6   7   8]]
[[100   0   1   2]
 [200   3   4   5]
 [300   6   7   8]]
[[100   0   1   2]
 [100   3   4   5]
 [100   6   7   8]]
[[100 200   0   1   2]
 [100 200   3   4   5]
 [100 200   6   7   8]]

In [158]:
x = np.arange(3)
print(x)

y = np.arange(9).reshape(3,3)
print(y)

z = np.vstack((x,y))
print(z)

y = y.reshape(9,)
print(y)

t = np.hstack((x,y))
print(t)

#np.stack

[0 1 2]
[[0 1 2]
 [3 4 5]
 [6 7 8]]
[[0 1 2]
 [0 1 2]
 [3 4 5]
 [6 7 8]]
[0 1 2 3 4 5 6 7 8]
[0 1 2 0 1 2 3 4 5 6 7 8]

In [163]:
x = np.arange(10)
print(x)
print(x[2:6])
print(x[4:])
print(x[:7])
print(x[:-1])
print(x[-4:-2])

[0 1 2 3 4 5 6 7 8 9]
[2 3 4 5]
[4 5 6 7 8 9]
[0 1 2 3 4 5 6]
[0 1 2 3 4 5 6 7 8]
[6 7]

In [162]:
x = np.arange(25).reshape(5,5)
print(x)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

In [169]:
x = np.arange(25).reshape(5,5)
print(x,"\n")
y = x[0:3,1:4]
print(y,"\n")

z = x[2:]
print(z,"\n")

t = x[::]
print(t,"\n")

v = x[:,3:]
print(v)

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

[[ 1  2  3]
 [ 6  7  8]
 [11 12 13]]

[[10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

[[ 3  4]
 [ 8  9]
 [13 14]
 [18 19]
 [23 24]]

In [174]:
x = np.arange(9).reshape(3,3)
print(x,"\n")

y = x[1:2,0:2]
print(y)
y[0,0] = 100
print(x,"\n")

print(np.shares_memory(x,y))

[[0 1 2]
 [3 4 5]
 [6 7 8]]

[[3 4]]
[[  0   1   2]
 [100   4   5]
 [  6   7   8]]

True

In [179]:
x = np.arange(16).reshape(4,4)
print(x)
print()
y = np.copy(x[0:3,1:3])
print(y)
print()
y[0,1] = 500
print(x)
print()
print(y)
print()
z = x[1:2,1:2].copy()
print(z)
print(np.shares_memory(x,z))

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]

[[ 1  2]
 [ 5  6]
 [ 9 10]]

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]

[[  1 500]
 [  5   6]
 [  9  10]]

[[5]]
False

In [186]:
x = np.linspace(1,19,10).reshape(2,5)
print(x.size)
print(x)

10
[[ 1.  3.  5.  7.  9.]
 [11. 13. 15. 17. 19.]]

In [188]:
x = np.linspace(1,21,11)
print(x.size)
print(x)
y = np.array([2,4,7])
print(y)
print(x[y])

11
[ 1.  3.  5.  7.  9. 11. 13. 15. 17. 19. 21.]
[2 4 7]
[ 5.  9. 15.]

In [193]:
x = np.arange(25).reshape(5,5)
print(x)
y = np.array([1,2])
print(y)
print()
print(x[y,:])

# fancy indexing

z = x[y,:]
print(z)
z[0,0] = 100
print()
print(z)
print()
print(x)

print(np.shares_memory(x,z))

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]
[1 2]

[[ 5  6  7  8  9]
 [10 11 12 13 14]]
[[ 5  6  7  8  9]
 [10 11 12 13 14]]

[[100   6   7   8   9]
 [ 10  11  12  13  14]]

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]
False

In [196]:
# boolean indezing

x = np.arange(10)
print(x)
print()
z = x[(x % 2 == 0)]
print(z)
print()
z[0] = 10
print(z)
print()
print(x)
print()

[0 1 2 3 4 5 6 7 8 9]

[0 2 4 6 8]

[10  2  4  6  8]

[0 1 2 3 4 5 6 7 8 9]

In [245]:
x = np.random.randint(10,size=10)
y = np.random.randint(2,size=10)
print(x)
print(y)
print(x>y)
print(type(x>y))
print((x>y).dtype)

print(np.all(x>y))
print(np.any(x>y))

[2 5 9 6 9 9 5 2 7 2]
[1 1 0 1 0 1 1 1 0 0]
[ True  True  True  True  True  True  True  True  True  True]
<class 'numpy.ndarray'>
bool
True
True

In [251]:
x = np.linspace(1,21,11)
print(x)
mask = (x % 3 == 0)
print(mask)
print(type(mask))
print(x[mask])
x[mask] = 1
print(x)

[ 1.  3.  5.  7.  9. 11. 13. 15. 17. 19. 21.]
[False  True False False  True False False  True False False  True]
<class 'numpy.ndarray'>
[ 3.  9. 15. 21.]
[ 1.  1.  5.  7.  1. 11. 13.  1. 17. 19.  1.]

In [254]:
x = np.array([2,5,3,6,9])
y = np.array([6,1,8,7,3])

z = np.intersect1d(x,y)

print(type(z))

<class 'numpy.ndarray'>

In [256]:
print(np.setdiff1d(x,y))
print(np.setdiff1d(y,x))

[2 5 9]
[1 7 8]

In [257]:
print(np.union1d(x,y))

[1 2 3 5 6 7 8 9]

In [258]:
print(np.in1d(x,y))

[False False  True  True False]

In [259]:
x = np.array([2,5,3,6,9,4,3,6,5,0])
print(np.unique(x))

[0 2 3 4 5 6 9]

In [268]:
#sort

x = np.random.randint(1,10,size=(10,))
print(x)
print(np.sort(x))
print(x)
print()

y = np.random.randint(1,10, size=(10,))
print(y)
y.sort()
print(y)

[4 7 4 1 6 4 3 5 4 1]
[1 1 3 4 4 4 4 5 6 7]
[4 7 4 1 6 4 3 5 4 1]

[6 1 3 4 8 4 9 9 7 6]
[1 3 4 4 6 6 7 8 9 9]

In [271]:
x = np.random.randint(1,10, size = (5,5))
print(x)
print()
print(np.sort(x,axis=0))
print()
print(np.sort(x,axis=1))
print()

[[1 1 1 8 3]
 [9 7 7 3 9]
 [7 2 7 6 2]
 [6 9 3 8 2]
 [5 3 6 3 6]]

[[1 1 1 3 2]
 [5 2 3 3 2]
 [6 3 6 6 3]
 [7 7 7 8 6]
 [9 9 7 8 9]]

[[1 1 1 3 8]
 [3 7 7 9 9]
 [2 2 6 7 7]
 [2 3 6 8 9]
 [3 3 5 6 6]]

In [278]:
x = np.random.randint(1,10,size=(5,))
y = np.random.randint(1,10,size=(5,))
print(x)
print(y)

print(x+y)
print(np.add(x,y))
print(type(x+y))
print(type(np.add(x,y)))

print(x-y)
print(np.subtract(x,y))

print(x*y)
print(np.multiply(x,y))

print(x/y)
print(np.divide(x,y))

[8 4 4 7 3]
[3 3 5 1 8]
[11  7  9  8 11]
[11  7  9  8 11]
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
[ 5  1 -1  6 -5]
[ 5  1 -1  6 -5]
[24 12 20  7 24]
[24 12 20  7 24]
[2.66666667 1.33333333 0.8        7.         0.375     ]
[2.66666667 1.33333333 0.8        7.         0.375     ]

In [280]:
print(x+3)
print(x-3)
print(x*3)
print(x/3)
print(x == y)

[11  7  7 10  6]
[5 1 1 4 0]
[24 12 12 21  9]
[2.66666667 1.33333333 1.33333333 2.33333333 1.        ]
[False False False False False]

In [281]:
print(np.array_equal(x,y))

False

In [288]:
print(np.sqrt(x))
print(np.power(x,3))
print(x)
print(np.exp(x))

[2.82842712 2.         2.         2.64575131 1.73205081]
[512  64  64 343  27]
[8 4 4 7 3]
[2980.95798704   54.59815003   54.59815003 1096.63315843   20.08553692]

In [291]:
x = np.random.randint(1,10,size=(3,3))
print(x)
print(np.sum(x))
print(x.sum(axis=0))
print(x.sum(axis=1))
print(x.min())
print(x.max())
print(x.argmin()) # min elemanın index sırası
print(x.argmax()) # max elemanın index sırası

[[3 3 4]
 [6 5 2]
 [8 8 1]]
40
[17 16  7]
[10 13 17]
1
8
8
6

In [295]:
x = np.random.randint(1,10,size=(8,))
print(x)
print()
print(x.mean())
print()
print(np.median(x))
print()
print(x.std())
print()

[7 2 6 1 8 6 6 3]

4.875

6.0

2.368411915187052

In [301]:
y = np.random.randint(1,10,size=(4,3))
print(y)
print()
print(y.mean(axis=0))
print()
print(y.mean(axis=1))
print()
print(y.std(axis=0))

[[5 6 9]
 [8 7 9]
 [3 5 3]
 [5 6 1]]

[5.25 6.   5.5 ]

[6.66666667 8.         3.66666667 4.        ]

[1.78535711 0.70710678 3.57071421]

In [305]:
x = np.random.randint(1,10,size=(1,))
y = np.random.randint(1,10,size=(3,2))
print(x)
print()
print(y)
print()
print(x+y)

[7]

[[6 4]
 [5 5]
 [2 6]]

[[13 11]
 [12 12]
 [ 9 13]]

In [307]:
x = np.zeros(5)
y = np.ones(5)
print(x)
print(y)

[0. 0. 0. 0. 0.]
[1. 1. 1. 1. 1.]

In [308]:
x = np.arange(7,42,2)
print(x)

[ 7  9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41]

In [311]:
x = np.linspace(1,10,16).reshape(4,4)
print(x)

[[ 1.   1.6  2.2  2.8]
 [ 3.4  4.   4.6  5.2]
 [ 5.8  6.4  7.   7.6]
 [ 8.2  8.8  9.4 10. ]]

In [314]:
x = np.random.randint(1,10,size=(4,4))
print(x)

[[5 4 1 7]
 [1 4 8 5]
 [2 7 7 2]
 [7 4 4 4]]

In [315]:
x = np.linspace(0.1,1,10)
print(x)

[0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ]

In [318]:
x = np.arange(25).reshape(5,5)
print(x[1:3,2:4])

[[ 7  8]
 [12 13]]

In [320]:
x = np.arange(1,17).reshape(4,4)
print(x)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]

In [325]:
y = x[:,[1,3]].reshape(2,4) 
# y = x[x%2==0].reshaper(2,4)
print(y)

[[ 2  4  6  8]
 [10 12 14 16]]

In [329]:
A = np.array([[1,1],[5,10]])
B = np.array([100,700])
print(A)
print()
print(B)
print()
x = np.linalg.solve(A,B)
print(x)

[[ 1  1]
 [ 5 10]]

[100 700]

[60. 40.]

In [331]:
x = np.random.randint(1,5,4)
print(x)
y = np.random.randint(1,5,4)
print(y)
print()
print(np.dot(x,y))

[1 4 3 1]
[2 2 1 2]

15

In [332]:
x = np.random.randint(1,5,size = (2,2))
print(x)
y = np.random.randint(1,5,size = (2,2))
print(y)
print()
print(np.dot(x,y))

[[3 3]
 [3 1]]
[[1 3]
 [4 1]]

[[15 12]
 [ 7 10]]

In [333]:
print(pd.__version__)

1.1.4

In [338]:
student = ['Arin',23,'CE']
print(student)
print(type(student))

print()

ps_student = pd.Series(student)
print(ps_student)
print(type(ps_student))

['Arin', 23, 'CE']
<class 'list'>

0    Arin
1      23
2      CE
dtype: object
<class 'pandas.core.series.Series'>

In [342]:
student = {
    'name': 'Arin',
    'age' : 23,
    'department': 'CE'
}
print(student)
print(type(student))
print()

ps_student = pd.Series(student)
print(ps_student)
print(type(ps_student))

{'name': 'Arin', 'age': 23, 'department': 'CE'}
<class 'dict'>

name          Arin
age             23
department      CE
dtype: object
<class 'pandas.core.series.Series'>

In [343]:
student = pd.Series(['Arin', 23, 'CE'])
print(student)
print(type(student))

0    Arin
1      23
2      CE
dtype: object
<class 'pandas.core.series.Series'>

In [344]:
numbers = pd.Series([24,37,43])
print(numbers)
print(type(numbers))

0    24
1    37
2    43
dtype: int64
<class 'pandas.core.series.Series'>

In [345]:
booleans = pd.Series([True,False,True])
print(booleans)
print(type(booleans))

0     True
1    False
2     True
dtype: bool
<class 'pandas.core.series.Series'>

In [353]:
student = pd.Series(data=['Arin', 23, 'CE'], index = ['name','age','department'])
print(student)
print()
print(type(student))
print()
print(student.values)
print()
print(student.index)
print()
print(student.shape)
print()
print(student.ndim)
print()
print(student.size)
print()
student.name = 'test'
print(student.name)
print()
print(student.dtype)
print()

name          Arin
age             23
department      CE
dtype: object

<class 'pandas.core.series.Series'>

['Arin' 23 'CE']

Index(['name', 'age', 'department'], dtype='object')

(3,)

1

3

test

object

In [354]:
x = 'name' in student
print(x)

y = 'job' in student
print(y)

True
False

In [355]:
x = 'Ahmet' in student.values
print(x)
y = 'Arin' in student.values
print(y)

False
True

In [356]:
numbers = pd.Series([4,2.5,2])
print(numbers)
print(numbers.sum())
print(numbers.mean())
print(numbers.product())

0    4.0
1    2.5
2    2.0
dtype: float64
8.5
2.8333333333333335
20.0

In [358]:
student = pd.Series(data=['Arin','Software',23,'CE'], index = ['name','surname','age','department'])
print(student)

name              Arin
surname       Software
age                 23
department          CE
dtype: object

In [359]:
pd.Series?

Init signature:
pd.Series(
    data=None,
    index=None,
    dtype=None,
    name=None,
    copy=False,
    fastpath=False,
)
Docstring:
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, *, **) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series.

    .. versionchanged:: 0.23.0
       If data is a dict, argument order is maintained for Python 3.6
       and later.

index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If both a dict and index
    sequence are used, the index will override the keys found in the
    dict.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be
    inferred from `data`.
    See the :ref:`user guide <basics.dtypes>` for more usages.
name : str, optional
    The name to give to the Series.
copy : bool, default False
    Copy input data.
File:           /usr/local/lib/python3.9/site-packages/pandas/core/series.py
Type:           type
Subclasses:     SubclassedSeries

In [371]:
print(student[['name','age']])
print('---------------------------------------------')
print(type(student[['name','age']]))
print('---------------------------------------------')
print(student[1])
print('---------------------------------------------')
print(student[[0,2]])
print('---------------------------------------------')
print(student[0:2])
print('---------------------------------------------')
print(student[-2])
print('---------------------------------------------')
print(student[0:])
print('---------------------------------------------')
print(student[-2:])
print('---------------------------------------------')
print(student['name':'department'])

name    Arin
age       23
dtype: object
---------------------------------------------
<class 'pandas.core.series.Series'>
---------------------------------------------
Software
---------------------------------------------
name    Arin
age       23
dtype: object
---------------------------------------------
name           Arin
surname    Software
dtype: object
---------------------------------------------
23
---------------------------------------------
name              Arin
surname       Software
age                 23
department          CE
dtype: object
---------------------------------------------
age           23
department    CE
dtype: object
---------------------------------------------
name              Arin
surname       Software
age                 23
department          CE
dtype: object

In [376]:
#loc -> location, iloc -> index location

print(student.loc['age'])
print('---------------------------------------------')
print(student.iloc[0:2])
print('---------------------------------------------')
print(student.iloc[2])

23
---------------------------------------------
name           Arin
surname    Software
dtype: object
---------------------------------------------
23

In [386]:
print(student)
print()
student['name']='Elis'
print(student)
student.iloc[2]=15
print(student)

# Pandas Series --> mutable

surname       Software
age                 15
department          CE
dtype: object

surname       Software
age                 15
department          CE
name              Elis
dtype: object
surname       Software
age                 15
department          15
name              Elis
dtype: object

In [388]:
student2 = student.drop('name')
print('---------------------------------------------')
print(student)
print('---------------------------------------------')
print(student2)
print('---------------------------------------------')
student2.drop('age', inplace=True)
print(student2)

---------------------------------------------
surname       Software
age                 15
department          15
name              Elis
dtype: object
---------------------------------------------
surname       Software
age                 15
department          15
dtype: object
---------------------------------------------
surname       Software
department          15
dtype: object

In [392]:
print(len(student))
print('---------------------------------------------')
print(list(student))
print('---------------------------------------------')
print(dict(student))
print('---------------------------------------------')
print(sorted(student2))

4
---------------------------------------------
['Software', 15, 15, 'Elis']
---------------------------------------------
{'surname': 'Software', 'age': 15, 'department': 15, 'name': 'Elis'}
---------------------------------------------

TypeError: '<' not supported between instances of 'int' and 'str'

In [396]:
student = pd.Series(data=['Arin','Software','CE'], index = ['name','surname','department'])
print(student)
print('---------------------------------------------')
print(sorted(student))
print('---------------------------------------------')
print(max(student))
print('---------------------------------------------')
print(min(student))

name              Arin
surname       Software
department          CE
dtype: object
---------------------------------------------
['Arin', 'CE', 'Software']
---------------------------------------------
Software
---------------------------------------------
Arin

In [397]:
import csv

In [431]:
review_content = pd.read_csv('./ReviewContent.csv',usecols=['Review ID'], squeeze=True, encoding='utf-8',engine='python')
print(type(review_content))

<class 'pandas.core.series.Series'>

In [411]:
print(review_content)

0       4055629
1      25329416
2      21705849
3      41133812
4       7465026
         ...
995    44498863
996    30544438
997    46642535
998    21403195
999    38944752
Name: Review ID, Length: 1000, dtype: int64

In [416]:
print(review_content.head(10)) #default 5 veri

0     4055629
1    25329416
2    21705849
3    41133812
4     7465026
5    11372151
6    20417380
7    10787310
8    37085487
9    15542291
Name: Review ID, dtype: int64

In [417]:
print(review_content.tail(10)) #default 5 veri

990    32907620
991    35585745
992    13423090
993    27392171
994    28605533
995    44498863
996    30544438
997    46642535
998    21403195
999    38944752
Name: Review ID, dtype: int64

In [430]:
print(review_content.head(10))
print('---------------------------------------------')
print(review_content.sort_values().head(10)) 
print('---------------------------------------------')
print(review_content.head(10)) #kalıcı sıralama
print('---------------------------------------------')
review_content.sort_values(inplace=True)
print('---------------------------------------------')
print(review_content.sort_values(ascending=False).tail(10))

0     4055629
1    25329416
2    21705849
3    41133812
4     7465026
5    11372151
6    20417380
7    10787310
8    37085487
9    15542291
Name: Review ID, dtype: int64
---------------------------------------------
516     41756
535     67176
766     97586
741    123549
560    151811
847    205942
188    432284
65     443786
954    499085
453    503200
Name: Review ID, dtype: int64
---------------------------------------------
0     4055629
1    25329416
2    21705849
3    41133812
4     7465026
5    11372151
6    20417380
7    10787310
8    37085487
9    15542291
Name: Review ID, dtype: int64
---------------------------------------------
---------------------------------------------
453    503200
954    499085
65     443786
188    432284
847    205942
560    151811
741    123549
766     97586
535     67176
516     41756
Name: Review ID, dtype: int64

In [434]:
review_content.sort_index(ascending=False,inplace=True)
print(review_content.head())
print('---------------------------------------------')
review_content.sort_index(ascending=True,inplace=True)
print(review_content.head())

999    38944752
998    21403195
997    46642535
996    30544438
995    44498863
Name: Review ID, dtype: int64
---------------------------------------------
0     4055629
1    25329416
2    21705849
3    41133812
4     7465026
Name: Review ID, dtype: int64

In [440]:
print(review_content[4:8])
print('---------------------------------------------')
print(review_content.get(4))
print('---------------------------------------------')
#print(review_content[1004]) -> hata
print('---------------------------------------------')
print(review_content.get(1004, default='Eleman Yok!'))
print('---------------------------------------------')
print(type(review_content.get(4)))
print('---------------------------------------------')
print(type(review_content.get(4)))
print('---------------------------------------------')
print(type(review_content.get([0,4])))
print('---------------------------------------------')

4     7465026
5    11372151
6    20417380
7    10787310
Name: Review ID, dtype: int64
---------------------------------------------
7465026
---------------------------------------------
---------------------------------------------
Eleman Yok!
---------------------------------------------
<class 'numpy.int64'>
---------------------------------------------
<class 'numpy.int64'>
---------------------------------------------
<class 'pandas.core.series.Series'>
---------------------------------------------

In [445]:
students = [
    {
        'name':'arin',
        'age':21,
        'gender':'F'
    },
    {
        'name':'fatih',
        'age':20,
        'gender':'M'
    },
    {
        'name':'elis',
        'age':24,
        'gender':'F'
    }
]
print(students)
print('---------------------------------------------')
print(type(students))
print('---------------------------------------------')
df_students = pd.DataFrame(students)
print('---------------------------------------------')
print(df_students)
print('---------------------------------------------')
print(type(df_students))
print('---------------------------------------------')

[{'name': 'arin', 'age': 21, 'gender': 'F'}, {'name': 'fatih', 'age': 20, 'gender': 'M'}, {'name': 'elis', 'age': 24, 'gender': 'F'}]
---------------------------------------------
<class 'list'>
---------------------------------------------
---------------------------------------------
    name  age gender
0   arin   21      F
1  fatih   20      M
2   elis   24      F
---------------------------------------------
<class 'pandas.core.frame.DataFrame'>
---------------------------------------------
---------------------------------------------

In [447]:
teachers= {
    'names': ['ahmet','cansu', 'hakan'],
    'ages': [41,36, 40],
    'gender': ['M','F', 'M'],
}
print('---------------------------------------------')
print(teachers)
print('---------------------------------------------')
print(type(teachers))
df_teachers = pd.DataFrame(teachers)
print('---------------------------------------------')
print(df_teachers)
print('---------------------------------------------')
print(type(df_teachers))
print('---------------------------------------------')

---------------------------------------------
{'names': ['ahmet', 'cansu', 'hakan'], 'ages': [41, 36, 40], 'gender': ['M', 'F', 'M']}
---------------------------------------------
<class 'dict'>
---------------------------------------------
---------------------------------------------
   names  ages gender
0  ahmet    41      M
1  cansu    36      F
2  hakan    40      M
---------------------------------------------
<class 'pandas.core.frame.DataFrame'>
---------------------------------------------

In [450]:
list_of_list= [
    ['ahmet','mehmet', 'ayşe'],
    [44, 39, 51],
]
print('---------------------------------------------')
print(list_of_list)
print('---------------------------------------------')
print(type(list_of_list))
df_list_of_list = pd.DataFrame(list_of_list)
print('---------------------------------------------')
print(df_list_of_list)
print('---------------------------------------------')
print(type(df_list_of_list))
print('---------------------------------------------')

---------------------------------------------
[['ahmet', 'mehmet', 'ayşe'], [44, 39, 51]]
---------------------------------------------
<class 'list'>
---------------------------------------------
       0       1     2
0  ahmet  mehmet  ayşe
1     44      39    51
---------------------------------------------
<class 'pandas.core.frame.DataFrame'>
---------------------------------------------

In [451]:
names = ['ahmet', 'mahmut', 'fatih']
print(names)
print(type(names))

df_names = pd.DataFrame(names)
print()
print(df_names)
print(type(df_names))
print(df_names.ndim)

['ahmet', 'mahmut', 'fatih']
<class 'list'>

        0
0   ahmet
1  mahmut
2   fatih
<class 'pandas.core.frame.DataFrame'>
2

In [452]:
students = {'name': 'hale', 'age': 24'}
print(students)
print(type(students))

df_students = pd.DataFrame(students)

{'name': 'hale', 'age': 24}
<class 'dict'>

ValueError: If using all scalar values, you must pass an index

In [456]:
students = {'Hale':pd.Series(data=[25,'F','CE',172], index=['age','gender','department','height']),
            'Ahmet':pd.Series(data=[32,'M','EE',83], index=['age','gender','department','weight'])}
print(students)
print('---------------------------------------------')
print(type(students))
print('---------------------------------------------')
df_students = pd.DataFrame(students)
print('---------------------------------------------')
print(df_students)
print('---------------------------------------------')
print(type(df_students))

{'Hale': age            25
gender          F
department     CE
height        172
dtype: object, 'Ahmet': age           32
gender         M
department    EE
weight        83
dtype: object}
---------------------------------------------
<class 'dict'>
---------------------------------------------
---------------------------------------------
           Hale Ahmet
age          25    32
department   CE    EE
gender        F     M
height      172   NaN
weight      NaN    83
---------------------------------------------
<class 'pandas.core.frame.DataFrame'>

In [510]:
students = {'Hale':pd.Series(data=[25,'F','CE',172], index=['age','gender','department','height']),
            'Ahmet':pd.Series(data=[32,'M','EE',83], index=['age','gender','department','height']),
            'Fatma':pd.Series(data=[40,'F','TT',55], index=['age','gender','department','height'])}
df_students = pd.DataFrame(students)
print(df_students)
print('---------------------------------------------')
df_students2 = pd.DataFrame(students, columns=['Hale','Ahmet'])
print(df_students2)
print('---------------------------------------------')
df_students3 = pd.DataFrame(students, index=['age','gender'])
print(df_students3)
print('---------------------------------------------')
df_students4 = pd.DataFrame(students,columns=['Hale','Ahmet'], index=['department','height'])
print(df_students4)

           Hale Ahmet Fatma
age          25    32    40
gender        F     M     F
department   CE    EE    TT
height      172    83    55
---------------------------------------------
           Hale Ahmet
age          25    32
gender        F     M
department   CE    EE
height      172    83
---------------------------------------------
       Hale Ahmet Fatma
age      25    32    40
gender    F     M     F
---------------------------------------------
           Hale Ahmet
department   CE    EE
height      172    83

In [498]:
# Series
print(df_students['Ahmet'])
print(type(df_students['Ahmet']))

age           32
gender         M
department    EE
height        83
Name: Ahmet, dtype: object
<class 'pandas.core.series.Series'>

In [499]:
# DataFrame
print(df_students[['Ahmet']])
print(type(df_students[['Ahmet']]))

           Ahmet
age           32
gender         M
department    EE
height        83
<class 'pandas.core.frame.DataFrame'>

In [500]:
print(df_students[['Ahmet','Hale']])
print(type(df_students[['Ahmet','Hale']]))

           Ahmet Hale
age           32   25
gender         M    F
department    EE   CE
height        83  172
<class 'pandas.core.frame.DataFrame'>

In [501]:
print(df_students.loc['age'])
print(type(df_students.loc['age']))

Hale     25
Ahmet    32
Fatma    40
Name: age, dtype: object
<class 'pandas.core.series.Series'>

In [502]:
print(df_students.loc[['age','gender']])
print('---------------------------------------------')
print(type(df_students.loc[['age','gender']]))

       Hale Ahmet Fatma
age      25    32    40
gender    F     M     F
---------------------------------------------
<class 'pandas.core.frame.DataFrame'>

In [503]:
print(df_students['Hale']['age'])
print(df_students['Fatma']['department'])

25
TT

In [504]:
df_students['Fatih'] = [17,'M','ELH',190]
print(df_students)

df_students['Fatih2'] = df_students['Fatma'] + df_students['Fatih']
print(df_students)

           Hale Ahmet Fatma Fatih
age          25    32    40    17
gender        F     M     F     M
department   CE    EE    TT   ELH
height      172    83    55   190
           Hale Ahmet Fatma Fatih Fatih2
age          25    32    40    17     57
gender        F     M     F     M     FM
department   CE    EE    TT   ELH  TTELH
height      172    83    55   190    245

In [505]:
new_row = pd.DataFrame({'Hale':'kurek', 'Ahmet':'manav','Fatma':'yolcu'}, index=['surname'])
df_students = df_students.append(new_row)
print(df_students)

             Hale  Ahmet  Fatma Fatih Fatih2
age            25     32     40    17     57
gender          F      M      F     M     FM
department     CE     EE     TT   ELH  TTELH
height        172     83     55   190    245
surname     kurek  manav  yolcu   NaN    NaN

In [506]:
# pop -> col
# drop -> col - row (axis)

df_students.pop('Ahmet')
print(df_students)

df_students = df_students.drop('Hale', axis=1)

             Hale  Fatma Fatih Fatih2
age            25     40    17     57
gender          F      F     M     FM
department     CE     TT   ELH  TTELH
height        172     55   190    245
surname     kurek  yolcu   NaN    NaN

In [507]:
print(df_students)

            Fatma Fatih Fatih2
age            40    17     57
gender          F     M     FM
department     TT   ELH  TTELH
height         55   190    245
surname     yolcu   NaN    NaN

In [508]:
df_students = df_students.drop(['Fatih2','Fatma'], axis=1)
print(df_students)

           Fatih
age           17
gender         M
department   ELH
height       190
surname      NaN

In [518]:
students = {'Hale':pd.Series(data=[25,'Cetin','CE',161], index=['age','surname','department','height']),
            'Ahmet':pd.Series(data=[32,'M','EE',83], index=['age','gender','department','weight']),
            'Fatma':pd.Series(data=[40,'Gulsen','TT',175], index=['age','surname','department','height'])}
df_students = pd.DataFrame(students)
print(df_students)
print('---------------------------------------------')
# isnull
x = df_students.isnull()
print(x)
print(type(x))
print('---------------------------------------------')
z = x[(x == False)]
print(z)
print('---------------------------------------------')
# stunlardaki null sayısı
y = df_students.isnull().sum() 
print(y)
print(type(y))
print('---------------------------------------------')
# toplam null sayısı
z = df_students.isnull().sum().sum()
print(z)
print(type(z))

             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
gender        NaN     M     NaN
height        161   NaN     175
surname     Cetin   NaN  Gulsen
weight        NaN    83     NaN
---------------------------------------------
             Hale  Ahmet  Fatma
age         False  False  False
department  False  False  False
gender       True  False   True
height      False   True  False
surname     False   True  False
weight       True  False   True
<class 'pandas.core.frame.DataFrame'>
---------------------------------------------
            Hale  Ahmet  Fatma
age          0.0    0.0    0.0
department   0.0    0.0    0.0
gender       NaN    0.0    NaN
height       0.0    NaN    0.0
surname      0.0    NaN    0.0
weight       NaN    0.0    NaN
---------------------------------------------
Hale     2
Ahmet    2
Fatma    2
dtype: int64
<class 'pandas.core.series.Series'>
---------------------------------------------
6
<class 'numpy.int64'>

In [519]:
print('---------------------------------------------')
# not null
t = df_students.notnull()
print(t)
print(type(t))
print('---------------------------------------------')
# stunlardaki boş olmayan sayısı
k = df_students.notnull().sum() 
print(k)
print(type(k))
print('---------------------------------------------')
# toplam boş olmayan sayısı
l = df_students.notnull().sum().sum()
print(l)
print(type(l))
print('---------------------------------------------')

---------------------------------------------
             Hale  Ahmet  Fatma
age          True   True   True
department   True   True   True
gender      False   True  False
height       True  False   True
surname      True  False   True
weight      False   True  False
<class 'pandas.core.frame.DataFrame'>
---------------------------------------------
Hale     4
Ahmet    4
Fatma    4
dtype: int64
<class 'pandas.core.series.Series'>
---------------------------------------------
12
<class 'numpy.int64'>
---------------------------------------------

In [520]:
print('---------------------------------------------')
# count
t = df_students.count()
print(t)
print(type(t))
print('---------------------------------------------')
# stunlardaki boş olmayan sayısı
k = df_students.count().sum() 
print(k)
print(type(k))
print('---------------------------------------------')
# toplam boş olmayan sayısı
l = df_students.count().sum().sum()
print(l)
print(type(l))
print('---------------------------------------------')

---------------------------------------------
Hale     4
Ahmet    4
Fatma    4
dtype: int64
<class 'pandas.core.series.Series'>
---------------------------------------------
12
<class 'numpy.int64'>
---------------------------------------------
12
<class 'numpy.int64'>
---------------------------------------------

In [532]:
print('---------------------------------------------')
#nan olan satırlar siliniyor
x = df_students.dropna()
print(x)
print(type(x))
print('---------------------------------------------')
print(df_students)
print('---------------------------------------------')
#tüm veriler 'nan olunca'
df_students['Ahmet']['weight'] = np.nan #veya Null
x = df_students.dropna(how="all")
print(x)
print(type(x))
print('---------------------------------------------')
# thresh'e eşit veya daha büyük nan varsa gösterme
x = df_students.dropna(thresh=2)
print(x)
print(type(x))
print('---------------------------------------------')
x = df_students.dropna(axis=0)
print(x)
print(type(x))
print('---------------------------------------------')
x = df_students.dropna(axis=1)
print(x)
print(type(x))
print('---------------------------------------------')
x = df_students.dropna(axis=1,thresh=3)
print(x)
print(type(x))

---------------------------------------------
           Hale Ahmet Fatma
age          25    32    40
department   CE    EE    TT
<class 'pandas.core.frame.DataFrame'>
---------------------------------------------
             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
gender        NaN     M     NaN
height        161   NaN     175
surname     Cetin   NaN  Gulsen
weight        NaN   NaN     NaN
---------------------------------------------
             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
gender        NaN     M     NaN
height        161   NaN     175
surname     Cetin   NaN  Gulsen
<class 'pandas.core.frame.DataFrame'>
---------------------------------------------
             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
height        161   NaN     175
surname     Cetin   NaN  Gulsen
<class 'pandas.core.frame.DataFrame'>
---------------------------------------------
           Hale Ahmet Fatma
age          25    32    40
department   CE    EE    TT
<class 'pandas.core.frame.DataFrame'>
---------------------------------------------
Empty DataFrame
Columns: []
Index: [age, department, gender, height, surname, weight]
<class 'pandas.core.frame.DataFrame'>
---------------------------------------------
             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
gender        NaN     M     NaN
height        161   NaN     175
surname     Cetin   NaN  Gulsen
weight        NaN   NaN     NaN
<class 'pandas.core.frame.DataFrame'>

In [535]:
df_students.dropna?

Signature:
df_students.dropna(
    axis=0,
    how='any',
    thresh=None,
    subset=None,
    inplace=False,
)
Docstring:
Remove missing values.

See the :ref:`User Guide <missing_data>` for more on which values are
considered missing, and how to work with missing data.

Parameters
----------
axis : {0 or 'index', 1 or 'columns'}, default 0
    Determine if rows or columns which contain missing values are
    removed.

    * 0, or 'index' : Drop rows which contain missing values.
    * 1, or 'columns' : Drop columns which contain missing value.

    .. versionchanged:: 1.0.0

       Pass tuple or list to drop on multiple axes.
       Only a single axis is allowed.

how : {'any', 'all'}, default 'any'
    Determine if row or column is removed from DataFrame, when we have
    at least one NA or all NA.

    * 'any' : If any NA values are present, drop that row or column.
    * 'all' : If all values are NA, drop that row or column.

thresh : int, optional
    Require that many non-NA values.
subset : array-like, optional
    Labels along other axis to consider, e.g. if you are dropping rows
    these would be a list of columns to include.
inplace : bool, default False
    If True, do operation inplace and return None.

Returns
-------
DataFrame
    DataFrame with NA entries dropped from it.

See Also
--------
DataFrame.isna: Indicate missing values.
DataFrame.notna : Indicate existing (non-missing) values.
DataFrame.fillna : Replace missing values.
Series.dropna : Drop missing values.
Index.dropna : Drop missing indices.

Examples
--------
>>> df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
...                    "toy": [np.nan, 'Batmobile', 'Bullwhip'],
...                    "born": [pd.NaT, pd.Timestamp("1940-04-25"),
...                             pd.NaT]})
>>> df
       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

Drop the rows where at least one element is missing.

>>> df.dropna()
     name        toy       born
1  Batman  Batmobile 1940-04-25

Drop the columns where at least one element is missing.

>>> df.dropna(axis='columns')
       name
0    Alfred
1    Batman
2  Catwoman

Drop the rows where all elements are missing.

>>> df.dropna(how='all')
       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

Keep only the rows with at least 2 non-NA values.

>>> df.dropna(thresh=2)
       name        toy       born
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

Define in which columns to look for missing values.

>>> df.dropna(subset=['name', 'born'])
       name        toy       born
1    Batman  Batmobile 1940-04-25

Keep the DataFrame with valid entries in the same variable.

>>> df.dropna(inplace=True)
>>> df
     name        toy       born
1  Batman  Batmobile 1940-04-25
File:      /usr/local/lib/python3.9/site-packages/pandas/core/frame.py
Type:      method

In [537]:
#fill na default br önceki değeri koy (satır) (ffill)
x = df_students.fillna(method='ffill',axis=0)
print(x)
print('---------------------------------------------')
#sütun
x = df_students.fillna(method='ffill',axis=1)
print(x)
print('---------------------------------------------')
#bir sonraki sütun (backfill)
x = df_students.fillna(method='backfill',axis=0)
print(x)
print('---------------------------------------------')
print('---------------------------------------------')
print('---------------------------------------------')

             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
gender         CE     M      TT
height        161     M     175
surname     Cetin     M  Gulsen
weight      Cetin     M  Gulsen
---------------------------------------------
             Hale  Ahmet   Fatma
age            25     32      40
department     CE     EE      TT
gender        NaN      M       M
height        161    161     175
surname     Cetin  Cetin  Gulsen
weight        NaN    NaN     NaN
---------------------------------------------
             Hale Ahmet   Fatma
age            25    32      40
department     CE    EE      TT
gender        161     M     175
height        161   NaN     175
surname     Cetin   NaN  Gulsen
weight        NaN   NaN     NaN
---------------------------------------------
---------------------------------------------
---------------------------------------------

In [541]:
review = pd.read_csv('./ReviewContent.csv')
print(review.head())

   Review ID Review Date                                     Review Content  \
0    4055629  2012-10-06  Very nice accommodation in an aesthetically pl...
1   25329416  2013-11-03  Me and my friends had such a nice time at Dott...
2   21705849  2014-11-27  I stayed for 4night.She gave us a lot of snuck...
3   41133812  2012-05-08  The apartment was situated on the first floor ...
4    7465026  2013-08-16  Even though it was only for one night, we had ...

                         Listing Title            Neighbourhood  \
0  Nottinghill Portobello  Artist Flat   Kensington and Chelsea
1   Quiet Pink Studio in the PIJP area  De Pijp - Rivierenbuurt
2  PRIVATE Room in Spacious, Quiet Apt                   Harlem
3       Bonito estudio en pleno centro              Universidad
4        Acropolis Apartment brand new                 ΑΚΡΟΠΟΛΗ

            City                State          Country        Room Type  \
0         London              England   United Kingdom  Entire home/apt
1      Amsterdam        North Holland  The Netherlands     Private room
2  New York City             New York    United States     Private room
3         Madrid  Comunidad de Madrid            Spain  Entire home/apt
4         Athens               Attica           Greece  Entire home/apt

   Room Price  Room Availability
0         100                338
1          80                 10
2          57                268
3          38                274
4          62                281

In [550]:
print(type(review))
print()
print(review.info())
print('---------------------------------------------')
print(review.dtypes)
print('---------------------------------------------')
print(review.ndim)
print('---------------------------------------------')
print(review.columns)
print('---------------------------------------------')
print(type(review.columns))
print('---------------------------------------------')
print(review.memory_usage())

<class 'pandas.core.frame.DataFrame'>

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Review ID          1000 non-null   int64
 1   Review Date        1000 non-null   object
 2   Review Content     999 non-null    object
 3   Listing Title      1000 non-null   object
 4   Neighbourhood      1000 non-null   object
 5   City               1000 non-null   object
 6   State              1000 non-null   object
 7   Country            1000 non-null   object
 8   Room Type          1000 non-null   object
 9   Room Price         1000 non-null   int64
 10  Room Availability  1000 non-null   int64
dtypes: int64(3), object(8)
memory usage: 86.1+ KB
None
---------------------------------------------
Review ID             int64
Review Date          object
Review Content       object
Listing Title        object
Neighbourhood        object
City                 object
State                object
Country              object
Room Type            object
Room Price            int64
Room Availability     int64
dtype: object
---------------------------------------------
2
---------------------------------------------
Index(['Review ID', 'Review Date', 'Review Content', 'Listing Title',
       'Neighbourhood', 'City', 'State', 'Country', 'Room Type', 'Room Price',
       'Room Availability'],
      dtype='object')
---------------------------------------------
<class 'pandas.core.indexes.base.Index'>
---------------------------------------------
Index                 128
Review ID            8000
Review Date          8000
Review Content       8000
Listing Title        8000
Neighbourhood        8000
City                 8000
State                8000
Country              8000
Room Type            8000
Room Price           8000
Room Availability    8000
dtype: int64

In [554]:
print(review["Room Price"].sum())
print('---------------------------------------------')
print(review.sum())
print('---------------------------------------------')
print(review["Room Availability"])
print('---------------------------------------------')
print(review["Room Availability"].add(10))
print('---------------------------------------------')
print(review["Room Availability"]+10)
#sum, sub, mul, div, +, -, *, /

118048
---------------------------------------------
Review ID                                                  23758497050
Review Date          2012-10-062013-11-032014-11-272012-05-082013-0...
Listing Title        Nottinghill Portobello  Artist FlatQuiet Pink ...
Neighbourhood        Kensington and ChelseaDe Pijp - RivierenbuurtH...
City                 LondonAmsterdamNew York CityMadridAthensPortla...
State                EnglandNorth HollandNew YorkComunidad de Madri...
Country              United KingdomThe NetherlandsUnited StatesSpai...
Room Type            Entire home/aptPrivate roomPrivate roomEntire ...
Room Price                                                      118048
Room Availability                                               253651
dtype: object
---------------------------------------------
0      338
1       10
2      268
3      274
4      281
      ...
995    329
996    309
997     10
998    357
999    329
Name: Room Availability, Length: 1000, dtype: int64
---------------------------------------------
0      348
1       20
2      278
3      284
4      291
      ...
995    339
996    319
997     20
998    367
999    339
Name: Room Availability, Length: 1000, dtype: int64
---------------------------------------------
0      348
1       20
2      278
3      284
4      291
      ...
995    339
996    319
997     20
998    367
999    339
Name: Room Availability, Length: 1000, dtype: int64

In [564]:
print(review['City'])
print('---------------------------------------------')
print(review['City'].value_counts())
print('---------------------------------------------')
print(review['Room Type'].value_counts())
print('---------------------------------------------')
print(review['Room Price'].value_counts())
print('---------------------------------------------')
print(review['Room Price'].sort_values(ascending= False).head())
print('---------------------------------------------')
print(review['City'].sort_values())
print('---------------------------------------------')
print(review.sort_values("Room Price"))

0             London
1          Amsterdam
2      New York City
3             Madrid
4             Athens
           ...
995            Paris
996      Los Angeles
997           Boston
998    New York City
999    New York City
Name: City, Length: 1000, dtype: object
---------------------------------------------
New York City    135
London           104
Paris            101
Los Angeles       68
Barcelona         61
San Francisco     59
Berlin            56
Amsterdam         45
Sydney            33
Portland          28
Madrid            28
Montreal          27
Toronto           23
Seattle           23
Brussels          23
Austin            22
New Orleans       22
Boston            21
Chicago           21
Venice            21
Washington        18
Melbourne         14
Vienna            14
Nashville         13
Athens            10
Oakland            5
Antwerp            5
Name: City, dtype: int64
---------------------------------------------
Entire home/apt    648
Private room       340
Shared room         12
Name: Room Type, dtype: int64
---------------------------------------------
80     32
120    31
75     27
95     27
60     26
       ..
222     1
228     1
265     1
270     1
800     1
Name: Room Price, Length: 180, dtype: int64
---------------------------------------------
799    1500
489     800
518     775
613     725
555     650
Name: Room Price, dtype: int64
---------------------------------------------
409     Amsterdam
912     Amsterdam
770     Amsterdam
168     Amsterdam
782     Amsterdam
          ...
839    Washington
139    Washington
128    Washington
589    Washington
437    Washington
Name: City, Length: 1000, dtype: object
---------------------------------------------
     Review ID Review Date                                     Review Content  \
740   37117583  2012-04-20  Alex is a very considerate airbnb host. He mad...
718   47355526  2012-08-05  Manuel was very sweet and helpful! Very nice a...
306   44838729  2012-06-03  It was easy to find and the room was clean. Ve...
452   11937812  2012-05-28  I just had a wonderfull time in there: good co...
795   37947941  2012-11-02  We only got to stay 12 hours, but this is exac...
..         ...         ...                                                ...
555    8381199  2014-10-25  This was my first Airbnb experience.  We were ...
613   41553198  2014-12-10  Brian and his team were great! We had a group ...
518   29952932  2013-06-15      Very beautiful apartment in a great location.
489   25836446  2012-03-05  The reservation was canceled 79 days before ar...
799    5239947  2013-01-15  The only issue that we had was that the elevat...

                           Listing Title               Neighbourhood  \
740     Good Vibes in the heart of BXL !                     Ixelles
718    Bernabéu, Twin Bedroom, Breakfast                  Berruguete
306        COSY ROOM-center-5 mn RAMBLAS                el Poble Sec
452  Camp Nou, Sants Staciò & University  la Maternitat i Sant Ramon
795   Cozy Private Room beside la Rambla                    el Raval
..                                   ...                         ...
555   SPACIOUS & LUXURIOUS 2-LEVEL CONDO              Haight Ashbury
613      Chic Massive 4 Bed Room Duplex!             Lower East Side
518    Stunning Townhouse - West Village                West Village
489  Mansion In The Sky-Duplex Penthouse                        Loop
799    Amazing hillside 4 bdrm 4k  sq ft               Monterey Park

              City                State        Country        Room Type  \
740       Brussels             Brussels        Belgium      Shared room
718         Madrid  Comunidad de Madrid          Spain     Private room
306      Barcelona            Catalonia          Spain     Private room
452      Barcelona            Catalonia          Spain     Private room
795      Barcelona            Catalonia          Spain     Private room
..             ...                  ...            ...              ...
555  San Francisco           California  United States  Entire home/apt
613  New York City             New York  United States  Entire home/apt
518  New York City             New York  United States  Entire home/apt
489        Chicago             Illinois  United States  Entire home/apt
799    Los Angeles           California  United States  Entire home/apt

     Room Price  Room Availability
740          16                326
718          16                112
306          19                336
452          19                333
795          22                 25
..          ...                ...
555         650                327
613         725                316
518         775                316
489         800                359
799        1500                365

[1000 rows x 11 columns]